<!--ingreso los datos de los clientes y los muestro en una tabla-->
<div class="container">
  <center>
    <h4>Capital Actual:</h4>
    <h1>{{monto}}</h1>
  </center>
</div>
<div class="row">
  <div class="container">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <div class="row">
            <label for="first_name">Nombre</label>
          </div>
          <input type="text" class="validate" ng-model="userModel.nombre"> 
        </div>
        <div class="input-field col s12">
          <div class="row">
            <label for="email">Email</label>
          </div>
          <input type="text" class="validate" ng-model="userModel.email">
        </div>
        <div class="input-field col s12">
          <div class="row">
            <label for="phone">Telefono</label>
          </div>
          <input type="text" class="validate" ng-model="userModel.telefono">
        </div>
        </div>
        <div class="col s12">
           <div class="row">
              <button class="btn waves-effect waves-light" ng-click="enviar(userModel)">Enviar
                <i class="material-icons right">send</i>
              </button>
            </div>  
        </div>
      </div>
    </form>
  </div>
</div>
<div class="container">
  <table class="responsive-table" >
    <thead>
      <tr>
          <th>Nombre</th>
          <th>Email</th>
          <th>Telefono</th>
          <th></th>
          <th></th>
          <th></th>
      </tr>
    </thead>
    <tbody ng-repeat=" x in users">
      <tr>
        <td>{{x.nombre}}</td>
        <td>{{x.email}}</td>
        <td>{{x.telefono}}</td>
        <td>
          <a class="waves-effect waves-light btn" href="/{{x.nombre}}/{{x.email}}/{{x.telefono}}" ng-click="prestamo($index)">Prestamo</a>
        </td>
        <td>
          <a class="waves-effect waves-light btn" ng-click="actualizar($index,userModel)">Actualizar</a>
        </td>
        <td>
          <a class="waves-effect waves-light btn" ng-click="eliminar($index)">Eliminar</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>